.title {
  font-size: 70px;
}
.description {
  text-align: left;
}
.booking-form {
  background-color: white;
  color: black;
}
.form-group {
  max-width: 460px;
  margin-left: 30px;
  margin-top: 20px;
}
.form-group .form-control {
  background-color: #f2f2f2;
  border: none;
  line-height: 10px;
  padding: 25px;
  border-radius: 5px;
}
.form-group label {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.booking-date .book-left {
  padding-left: 50px;
}
.booking-date .book-left .form-control {
  width: 221px;
}
