.container {
  border: 1px solid #555;
  max-width: 420px !important;
  margin: 0 auto;
  margin-top: 80px !important;
}
form {
  margin-top: 20px !important;
  max-width: 520px;
  margin: 0 auto;
}
.signup .form-control {
  max-width: 420px;
  margin: 0 auto;
}
.signup .sign-btn {
  max-width: 420px;
  margin: 0 auto;
}
.account label {
  color: red;
  cursor: pointer;
}
.form-group .error {
  margin-left: 5px;
}
.error {
  color: red;
  font-weight: bold;
}
* {
  box-sizing: border-box !important;
}

.signup .form-control {
  border: none;
  padding: 15px !important;
  color: black;
  border-bottom: 1px solid gray;
  border-radius: 0px;
  font-weight: 400;
  font-size: 14px;
}

h5 {
  margin-bottom: 10px;
}
.others {
  position: absolute;
  display: inline;
}
.first-line {
  position: relative;
  top: 300;
  max-width: 400px !important;
  border: 1px solid rgb(100, 52, 52);
  width: 190px;
}
.other-part {
  display: flex;
  flex-direction: row;
}
